numpy
pandas
scipy
xarray
netCDF4
climate-indices
geopandas
shapely
rioxarray
rasterio
scikit-learn
xgboost
tensorflow
matplotlib
seaborn
plotly
folium
streamlit
streamlit-folium
tqdm
joblib
pymannkendall
jupyter
notebook